#!/usr/bin/make -f

export PYBUILD_NAME=viddup
export DH_VIRTUALENV_INSTALL_ROOT=/var/lib/viddup/venv
export SHEBANG=${DH_VIRTUALENV_INSTALL_ROOT}/viddup/bin/python3

%:
	dh $@ --with python3 --with python-virtualenv --buildsystem=pybuild

override_dh_install:
	echo "#!"${SHEBANG} > bin/viddup
	cat bin/viddup.local >> bin/viddup 
	dh_install bin/viddup /usr/bin
	dh_install glade/viddup.glade /usr/share/viddup/
	rm bin/viddup

override_dh_virtualenv:
	dh_virtualenv --upgrade-pip --extra-virtualenv-arg --system-site-packages
